.catalogh2{
    border-bottom: 10px solid #51E398;
    width: fit-content;
    text-align: center;
    margin: 0% auto;
    color: black;
    line-height: 250%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
}

.catalog {
    background-color: #F5F5F5;
}

img{
    width: 125px;
}

.CatProdText{
    color: black;
}

.CatProdPrice{
    color: black;
    font-size: 20px;
}

.CatProdMore{
    color: white;
    text-decoration: none;
    background-color: #51E398;
    padding: 10px;
    font-size: 20px;
}

.CatProdPicture{
    Border: 4px solid #C2C2C2;
    line-height: 150px;
}

.Itemforsale{
    border: 4px solid #C2C2C2;
    text-align: center;
    padding: 30px 20px;
    margin:20px;
}

.flex-row{
    display: flex;
    justify-content: center;
    gap: 50px;
    border-bottom: 10px solid #51E398;
    flex-wrap: wrap;
    padding: 30px 200px;
}

