*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font: 20px sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: gray;
}

li{
    display: inline;
}

ul{
    list-style: none;
    gap: 1vw;
}

ul a{
    text-decoration: none;
    color: white;
}