:root{
    --primary:#000000;
    --secondary:#51E398;
}

body{
    font: 1em sans-serif;
    margin: 0;
    padding: 0;
    background:var(--primary);
    color: #ffffff;
}

.flex-btw{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flex-cntr{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bg-image{
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
   
}


.banner{
    width: 100%;
    height: 100%;
}

.text{
    width: 100%;
    height: 700px;
    padding-top: 25vh;
    text-align: center;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
}

.scroll-button{
    background-color: var(--secondary);
    width: fit-content;
    align-self: center;
    padding: 10px 15px;
    font-size: 1.2em;
}